<div class="header">
  <div class="emojis">
    <img
      class="emoji"
      width="48"
      height="48"
      src="assets/emptyemoji.png"
      alt=""
      srcset=""
    />

    <img
      class="emoji"
      width="48"
      height="48"
      src="assets/emptyemoji.png"
      alt=""
      srcset=""
    />
    <img
      class="emoji"
      width="48"
      height="48"
      src="assets/emptyemoji.png"
      alt=""
      srcset=""
    />
    <img
      class="emoji"
      width="48"
      height="48"
      src="assets/emptyemoji.png"
      alt=""
      srcset=""
    />
    <img
      class="emoji"
      width="48"
      height="48"
      src="assets/emptyemoji.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="steps">
    <div class="line">
      <div class="arrow-up"></div>
    </div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <p class="question">
    ماذا مَدَ الأسد كعلامة على صداقته مع الثعلب ؟
  </p>
</div>
