<ul class="list">
  <li
    [ngClass]="{
      ' list__item ': true,
      ' guessed ': guess == questions[currentStep][1][0] && !nextStep,
      ' correct-answer ':
        guess == answer && guess == questions[currentStep][1][0] && nextStep,
      ' wrong-answer ':
        guess != answer && guess == questions[currentStep][1][0] && nextStep
    }"
    [id]="questions[currentStep][1][0]"
    #firstChoice
  >
    <!-- {{ questions[currentStep][shuffledChoices[0]] }} -->
    {{ questions[currentStep][1][1] }}
  </li>
  <li
    [ngClass]="{
      ' list__item ': true,
      ' guessed ': guess == questions[currentStep][2][0] && !nextStep,
      ' correct-answer ':
        guess == answer && guess == questions[currentStep][2][0] && nextStep,
      ' wrong-answer ':
        guess != answer && guess == questions[currentStep][2][0] && nextStep
    }"
    [id]="questions[currentStep][2][0]"
    #secondChoice
  >
    <!-- {{ questions[currentStep][shuffledChoices[1]] }} -->
    {{ questions[currentStep][2][1] }}
  </li>
  <li
    [ngClass]="{
      ' list__item ': true,
      ' guessed ': guess == questions[currentStep][3][0],
      ' correct-answer ':
        guess == answer && guess == questions[currentStep][3][0] && nextStep,
      ' wrong-answer ':
        guess != answer && guess == questions[currentStep][3][0] && nextStep
    }"
    [id]="questions[currentStep][3][0]"
    #thirdChoice
  >
    <!-- {{ questions[currentStep][shuffledChoices[2]] }} -->
    {{ questions[currentStep][3][1] }}
  </li>
</ul>
